SOFTWARE REQUIREMENTS:

          - Operating System: Windows, Linux
          -        IDE    : Visual Studio Code
          - Code Analysis : 
                  *cppcheck for static analysis
                  *Dr.Memory for heap analysis'
                  *Memory sanitization using gcc abd -fsanitize option
          -Build toold:
                  * Make Installer from GNUWin32 for automating the build without using IDE
 
 HARDWARE REQUIREMENTS:
             
          - RAM: 4 GB (min)
          - 2.3 minimum Version (API 8)
          
** No other Dependencies **
          
